@tailwind base;
@tailwind components;
@tailwind utilities;

/* Isso irá ocultar a barra de rolagem */
::-webkit-scrollbar {
  display: none;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));

  background-color: #37372b;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

strong,
mark,
h1,
h2,
h3,
a,
span,
p,
small {
  font-style: normal;
  line-height: normal;
}

strong {
  font-size: 1.5rem;
  font-weight: 400;
}

mark {
  font-size: 1.5rem;
  font-weight: 600;
  background: transparent;
}

h1 {
  font-size: 1.25rem;
  font-weight: 600;
}

h2,
h3,
span,
a {
  font-size: 1rem;
  font-weight: 600;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

small {
  font-size: 0.875rem;
  font-weight: 400;
}

hr {
  height: 2px;
}

@media screen and (min-width: 90rem) {
  strong {
    font-size: 2.5rem;
    font-weight: 400;
  }

  mark {
    font-size: 2.5rem;
    font-weight: 700;
  }

  h1 {
    font-size: 2.25rem;
    font-weight: 600;
  }

  h2,
  span {
    font-size: 1.5rem;
    font-weight: 600;
  }

  h3,
  a {
    font-size: 1.25rem;
    font-weight: 600;
  }

  p {
    font-size: 1.5rem;
    font-weight: 400;
  }

  small {
    font-size: 1rem;
    font-weight: 400;
  }
}
