@tailwind base;
@tailwind components;
@tailwind utilities;

/* Isso irá ocultar a barra de rolagem */
::-webkit-scrollbar {
  display: none;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.scroll-to-top-button {
  @apply absolute bottom-5 right-5 p-1 lg:p-3 lmd:p-5 rounded-full bg-yellow-500 text-zinc-600 hover:text-white cursor-pointer opacity-50 hover:opacity-100;
}

/* Main Section */
.responsive-title {
  @apply text-2xl lg:text-5xl lmd:text-6xl xlg:text-7xl;
}

/* Video Section */
.responsive-video-section {
  @apply text-white text-center z-10 lg:text-2xl lmd:text-3xl xlg:text-4xl lg:max-w-[50vw];
}

/* Components Section */
.responsive-section-title {
  @apply text-yellow-500 text-[1.1rem] lmd:text-4xl xlg:text-5xl;
}

.responsive-section-content {
  @apply text-[0.80rem] lg:text-base lmd:text-xl xlg:text-2xl;
}

.responsive-section-image {
  @apply h-[10.5rem] w-[19.5rem] lg:h-[16.5rem] lg:w-[24rem] lmd:h-[20rem] lmd:w-[30rem]  xlg:h-[25rem] xlg:w-[35rem] relative;
}

.responsive-section-container {
  @apply flex flex-col max-w-[19.5rem] lg:max-w-[35vw] gap-1 lg:gap-6 lmd:gap-12 lg:justify-center;
}

@keyframes fadeOut {
  0% {
    opacity: 1; /* Inicia totalmente visível */
  }
  90% {
    opacity: 1; /* Opacidade reduzida */
  }
  100% {
    opacity: 0; /* Fica totalmente transparente */
  }
}

@keyframes moveRightToLeft {
  0% {
    right: 0;
  }
  100% {
    right: 150px;
  }
}

@keyframes moveLeftToRight {
  0% {
    right: 150px;
  }
  100% {
    right: 0;
  }
}

@media (max-width: 1440px) {
  @keyframes moveRightToLeft {
    0% {
      right: 0;
    }
    100% {
      right: 180px;
    }
  }

  @keyframes moveLeftToRight {
    0% {
      right: 180px;
    }
    100% {
      right: 0;
    }
  }
}

@media (max-width: 1024px) {
  @keyframes moveRightToLeft {
    0% {
      right: 0;
    }
    100% {
      right: 100px;
    }
  }

  @keyframes moveLeftToRight {
    0% {
      right: 100px;
    }
    100% {
      right: 0;
    }
  }
}

@media (max-width: 360px) {
  @keyframes moveRightToLeft {
    0% {
      right: 0;
    }
    100% {
      right: 65px;
    }
  }

  @keyframes moveLeftToRight {
    0% {
      right: 65px;
    }
    100% {
      right: 0;
    }
  }
}

strong,
mark,
h1,
h2,
h3,
a,
span,
p,
small {
  font-style: normal;
  line-height: normal;
}

strong {
  font-size: 1.5rem;
  font-weight: 400;
}

mark {
  font-size: 1.5rem;
  font-weight: 600;
  background: transparent;
}

h1 {
  font-size: 1.25rem;
  font-weight: 600;
}

h2,
h3,
span,
a {
  font-size: 1rem;
  font-weight: 600;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

small {
  font-size: 0.875rem;
  font-weight: 400;
}

hr {
  height: 2px;
}

@media screen and (min-width: 90rem) {
  strong {
    font-size: 2.5rem;
    font-weight: 400;
  }

  mark {
    font-size: 2.5rem;
    font-weight: 700;
  }

  h1 {
    font-size: 2.25rem;
    font-weight: 600;
  }

  h2,
  span {
    font-size: 1.5rem;
    font-weight: 600;
  }

  h3,
  a {
    font-size: 1.25rem;
    font-weight: 600;
  }

  p {
    font-size: 1.5rem;
    font-weight: 400;
  }

  small {
    font-size: 1rem;
    font-weight: 400;
  }
}
